<div>
	<title>Home page</title>

	<div class="menu">
		<form role="search" method="POST">
			<input type="text" name = "search" value="Card name" />
			<button type="submit">Search</>
		</form>	
	</div>

	<table class="table">

		<th>
			Card
		</th>

		<th>
			Set
		</th>

		<th>
			Low
		</th>

		<th>
			Medium
		</th>

		<th>
			High
		</th>

		<th>
			AverageLow
		</th>

		<th>
			AverageMedium
		</th>

		<th>
			AverageHigh
		</th>

		<th>
			Source
		</th>

		<%

		var card;

		for(var index = 0; index < cards.length; index++)
		{

			card = cards[index];

			%>
			<tr>

				<td>
					<%=card['nameOfCard']%>
				</td>

				<td>
					<%=card['set']%>
				</td>

				<td>
					<%=card['lowPrice']%>
				</td>

				<td>
					<%=card['mediumPrice']%>
				</td>

				<td>
					<%=card['highPrice']%>
				</td>

				<td>
					<%=card['averageLowPrice']%>
				</td>

				<td>
					<%=card['averageMediumPrice']%>
				</td>

				<td>
					<%=card['averageHighPrice']%>
				</td>
				
				<td>
					<%=card['source']%>
				</td>
			</tr>
		<% } %>

	</table>
</div>
