<div>
	<title>Home page</title>

	<div class="menu">
		<form role="search" method="POST">
			<input type="text" name = "search" value="Card name" />
			<button type="submit">Search</>
		</form>	
	</div>

	<table class="table">

		<th>
			Card
		</th>

		<th>
			Set
		</th>

		<th>
			Price
		</th>

		<th>
			Average
		</th>

		<th>
			Source
		</th>

		<th>
			Updated At
		</th>

		<%

		var card;

		for(var index = 0; index < cards.length; index++)
		{

			card = cards[index];

			%>
			<tr>

				<td>
					<%=card['nameOfCard']%>
				</td>

				<td>
					<%=card['set']%>
				</td>

				<td>
					<%=card['price']%>
				</td>

				<td>
					<%=card['average']%>
				</td>
				
				<td>
					<%=card['source']%>
				</td>
				<td>
					<%=card['updatedAt']%>
				</td>
			</tr>
		<% } %>

	</table>
</div>
